body {
    font-family: 'Product Sans', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.app {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    text-align: center;
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 500px;
}

h1 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.countdown {
    font-size: 1.5rem;
    margin: 20px 0;
    font-weight: bold;
    color: #db0f0f;
}

.message {
    font-size: 1.2rem;
    margin-top: 20px;
    color: #d1d1d1;
}

.mode-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border: none;
    border-radius: 50px;
    transition: all 0.3s ease;
    background-color: #fff;
    color: #333;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.mode-button:hover {
    background-color: #f1f1f1;
    transform: scale(1.05);
}

.dark-mode {
    background: linear-gradient(to right, #141e30, #243b55);
    color: #fff;
}

.blue-mode {
    background: linear-gradient(to right, #2e88c9, #1c5a81);
    color: #fff;
}

.white-mode {
    background: linear-gradient(to right, #f1f1f1, #e0e0e0);
    color: #333;
}

@font-face {
    font-family: 'Product Sans';
    src: url('Product Sans Regular.ttf') format('woff');
    font-weight: normal;
    font-style: normal;
}
