body {
    font-family: 'Product Sans', sans-serif;
    background: linear-gradient(to right, #141e30, #243b55);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 90%;
}

h1 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.countdown {
    font-size: 1.5rem;
    margin: 20px 0;
    font-weight: bold;
    color: #db0f0f;
}

.message {
    font-size: 1.2rem;
    margin-top: 20px;
    color: #d1d1d1;
}

@font-face {
    font-family: 'Product Sans';
    src: url('Product Sans Regular.ttf') format('woff');
    font-weight: normal;
    font-style: normal;
}
